BeautifulSoup==3.2.1
Django==1.6.1
GnuPGInterface==0.3.2
PIL==1.1.7
South==0.8.4
Werkzeug==0.9.4
apt-xapian-index==0.44
argparse==1.2.1
chardet==2.0.1
command-not-found==0.2.44
configobj==4.7.2
decorator==3.3.2
## FIXME: could not find svn URL in dependency_links for this package:
distribute==0.6.24dev-r0
django-admin-bootstrapped==1.6.3
django-extensions==1.2.5
django-haystack==2.1.0
django-tagging==0.3.1
docutils==0.11
ipython==0.12.1
language-selector==0.1
pexpect==2.3
psycopg2==2.5.1
pycurl==7.19.0
pyelasticsearch==0.6.1
python-apt==0.8.3ubuntu7
python-dateutil==2.2
python-debian==0.1.21ubuntu1
requests==2.1.0
simplegeneric==0.7
simplejson==3.3.1
six==1.4.1
ufw==0.31.1-1
unattended-upgrades==0.1
virtualenv==1.7.1.2
wsgiref==0.1.2
