{% load i18n %}

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="{{ LANGUAGE_CODE }}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link id="page_favicon" href="{{ MEDIA_URL }}favicon.ico" rel="icon" type="image/x-icon" />
	<title>{% block title %}{% trans "Duda Library - Tons of Education" %}{% endblock %}</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="Duda Nogueira" />
	<link href='{{STATIC_URL}}site_media/css/style.css' type="text/css" rel="stylesheet"/>
	<link href='{{STATIC_URL}}site_media/css/jquery.rating.css' type="text/css" rel="stylesheet"/>
	<script type="text/javascript" src="{{STATIC_URL}}site_media/js/jquery.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}site_media/js/jquery.rating.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}site_media/js/jquery-ui.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}site_media/js/ratings.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}site_media/js/showhide.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div id="auth">
				{% if request.user.is_authenticated %}
					{% trans "logged in as" %}: {{request.user}} [<a href="{% url auth_logout %}?next={% url index %}">{% trans "logout" %}</a>]
				{% else %}
					{% trans "not logged in" %}
				{% endif %}
			</div>
			<div id="menu">
				<div id="options">
					<ul id="options">
						<!---
						<li>MENU 1</li>
						<li>MENU 2</li>
						<li>MENU N</li>
						-->
					</ul>
				</div>
			</div>
		</div>
		<div id="content-wrapper">
			<div id="sidebar">
				<div id="logodiv">
						<div id="logo">
							<a href="{% url index %}"><img src="{{STATIC_URL}}site_media/img/logo-dudalibrary.png" /></a>
										<p>{% trans "tons of open educational resources" %}</p>
						</div>
				</div>
				{% include "sidebar.html" %}
			</div>
			<div id="content">
				{% block content %}
					<h1>Conteúdo</h1>
				{% endblock %}
			</div>
			<div id="footer">
				Duda Library - <a href="http://dudalibrary.googlecode.com">http://dudalibrary.googlecode.com</a>
			</div>
		</div>
	</div>
</body>
</html>
