{% load i18n %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{%block title %}Duda Library{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href='{{MEDIA_URL}}css/reset.css' type="text/css" rel="stylesheet"/>
    <link href="{{STATIC_URL}}frontend/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href='{{MEDIA_URL}}css/style.css' type="text/css" rel="stylesheet"/>
	<link href='{{MEDIA_URL}}css/jquery.rating.css' type="text/css" rel="stylesheet"/>
    <script src="{{STATIC_URL}}frontend/js/jquery/jquery.js"></script>
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    </style>
    <link href="{{STATIC_URL}}frontend/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!-- Fav and touch icons-->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{STATIC_URL}}frontend/css/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{STATIC_URL}}frontend/bootstrap/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{STATIC_URL}}frontend/bootstrap/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="{{STATIC_URL}}frontend/bootstrap/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="{{STATIC_URL}}frontend/bootstrap/ico/favicon.png">

                                   
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{% url index %}">Duda Library</a>
          <ul class="nav">
            <li class="active"><a href="{% url index %}">Home</a></li>
          </ul>
          
          <form class="navbar-search pull-right form-search form-inline" action="{% url haystack_search %}" method="get">
              <input type="text" name="q" class="search-query span2" placeholder="{% trans "Search" %}">
              <input type="submit" class='btn btn-small' value="{% trans "Go" %}">
          </form>
          <p class="nav-text pull-right">
              {% if request.user.is_authenticated %}
              <a href="{% url auth_logout %}?next={% url index %}" role="button" class="btn btn-warning" data-toggle="modal"><i class="icon icon-arrow-left icon-white"></i> {% trans "Log out" %}: {{request.user}}</a>
              {% else %}
                  <a href="#ModalLogin" role="button" class="btn btn-info" data-toggle="modal"><i class="icon icon-arrow-right icon-white"></i> {% trans "Log in" %}</a>
              
              {% endif %}
          </p>  
          
          
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
			<div id="logodiv">
					<div id="logo">
						<a href="{% url index %}"><img src="{{MEDIA_URL}}img/logo-dudalibrary.png" /></a>
									<p style="text-align: center">{% trans "tons of educational resources" %}</p>
					</div>
			</div>

            {% include "sidebar.html" %}
            

        </div><!--/span-->
        <div class="span9">
      		{% if messages %}
      		<div id="alertas">
      		    {% for message in messages %}
      				<div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">
      				  <a class="close" data-dismiss="alert">×</a>
      				  {{ message|safe }}
      				</div>
      		    {% endfor %}
      		</div>
      		{% endif %}
            
			{% block content %}
				<h1>Conteúdo</h1>
			{% endblock %}

        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p><a href="http://dudalibrary.org">{% trans "Powered by Duda Library"%}</a> {{now}}</p>
        {% include "languages.html" %}
      </footer>
      
      
      <!-- Modal -->      
      <div id="ModalLogin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="ModalLoginLabel" aria-hidden="true">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h3 id="ModalLoginLabel">{% trans "Log in Duda Library" %}</h3>
        </div>
        <div class="modal-body">
            
        	<form id="login-form" method="post" action="{% url django.contrib.auth.views.login %}" style="text-align: center;">
        		<input type="hidden" name="next" value="/">
        		{% csrf_token %}
        		<p><label for="id_username">{% trans "Username" %}:</label> <input id="id_username" type="text" name="username" maxlength="30" /></p>
        <p><label for="id_password">{% trans "Password" %}:</label> <input type="password" name="password" id="id_password" /></p>
        			<p><input type="submit" class="btn btn-primary" id="login-form-submit" value="{% trans "Log in" %}" /></p>
        		</span>
        	</form>
            
            
        </div>
        <div class="modal-footer">
          <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Close" %}</button>
        </div>
      </div
      

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-button.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{STATIC_URL}}frontend/bootstrap/js/bootstrap-typeahead.js"></script>
    
    <script src="{{STATIC_URL}}frontend/js/jquery.rating.js"></script>
    <script src="{{STATIC_URL}}frontend/js/jquery-ui.js"></script>
    <script src="{{STATIC_URL}}frontend/js/ratings.js"></script>

  </body>
</html>
