{% load i18n %}
{% load highlight %}

<div id="browse">
	<h1>{% trans "Browse into knowledge" %}</h1>
        
{% if featured_list %}
    <div class="well well-small">
	{% include "featured_list.html" with object_list=featured_list %}
    </div>
{% endif %}
    
    <div class="row-fluid">

	  <div class="span12">
  			<h2>{% trans "OER World Map" %}</h2>
			<style>
			#map{
				height: 400px;
				width: 100%;
			}
			</style>
		  {% include "world-map-v2.html" %}
	  </div>
      
      
    </div><!--/row-->


    
	{% if tags_to_cloud %}
	<div id="tagcloud">
	{% regroup tags_to_cloud|dictsortreversed:"count" by count as tag_list %}
		<h2>{% trans "Tag Cloud" %}</h2>
		<p>
		{% for count in tag_list %}
			{%for tag in count.list %}
				<font size="{{ tag.font_size }}">
					{% ifequal tag.id actual_tag.id %}<b>{% endifequal %}
					<a href="{% url "tag_details" tag.id %}?q={{q}}">{{tag.name}} {# ({{count.grouper}})#}</a>
					{% ifequal tag.id actual_tag.id %}</b>{% endifequal %}
				</font>
			{% endfor %}
		{%endfor%}
		</p>
	</div>
	{% endif %}	
</div>
