{% load i18n %}

<div id="featured_resource">
<div class="row-fluid">
{% for resource in object_list %}		

    <div class="span3" data-original-title="">
        
        {% for thumb in resource.thumbnails_path %}
        		{% if forloop.first %}
				<a href="#" class="featured_resource" data-content="<h2>{{resource.title}}</h2>"><img src="{{thumb}}" alt="{{resource.title}}" title="{{resource.title}}" width="150" height="150" /></a>

        		{% endif %}
        	{% endfor %}	
	</div>
         
{% endfor %}
</div>
</div>
<div id="featured-title"></div>
	<script>
	$(".featured_resource").on("mouseenter", 
		function(){
			$(this).css("opacity", "0.5");
			$("#featured-title").html($(this).data('content'));
		}
	)
	
	$(".featured_resource").on("mouseout", 
		function(){
			$(this).css("opacity", "1");
			$("#featured-title").html('<h2>Learn! Share!<h2>');
		}
	)
	
	
	
	</script>