{% load i18n %}
{% if page_obj.has_previous or page_obj.has_next %}
	<div id="pagination">
	{% for p in paginator.page_range %}
	  {% if p == page_obj.number %}
	    [{{ p }}]
	  {% else %}
		<a href="?{{querystring_nopage}}&amp;page={{ p }}">{{ p }}</a>
	  {% endif %}
	{% endfor %}
	
	<p>{% blocktrans with in_page_total_count=page_obj.object_list|length total_count=paginator.count %}{{in_page_total_count}} results on this page out of {{total_count}} resources found.{% endblocktrans %}</p>
	</div>
	
{% endif %}

