{% load i18n %}
{#### SIDEBAR ####}
{% if resource %}
{% include "resource_sidebar.html" %}
{% endif %}

<div id="searchbox" style="text-align:center; margin-bottom: 20px">
    <h4>{% trans "Search" %}</h4>
    <form method="get" action="{% url "haystack_search" %}" id="search_box" class="form-search">
        <input type="text" name="q" class="input-medium search-query" value={% if query %}{{query}}{% endif %}>
		<button type="submit" class="btn">{% trans "Go" %}</button>
    </form>
</div>

{% if curricular_grades %}
<div id="curricular-grades">
	<h2>{% trans "Curricular Grades" %}</h2>
	<ul>
	{% for curricular in curricular_grades %}
		<li><a href="{% url "curricular_grade" curricular.id %}">{{curricular}}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if select_detailed_source %}
<h2>OER Sources {{source_points.count}}</h2>
{{select_detailed_source}}
<hr />
<a href="" class="btn btn-primary"><i class="icon icon-plus icon-white"></i> Suggest a New OER Source.</a>
{% endif %}