{% extends "admin/base_site.html" %}
{% load i18n %}
{% block title %}Content Manager - {% trans "Downloader" %}{% endblock %}



{% block breadcrumbs %}

<ul class="breadcrumb">
<li><a href="{% url "admin:index" %}">{% trans "Home" %}</a> <span class="divider">/</span></li>
<li>{% trans "Add Resource" %}</a> <span class="divider">/</span></li>
<li>{% trans "Request Resource" %}</li>
</ul>

{% endblock %}

{% block object-tools %}

<a class="brand">{% trans "Request Resource" %}</a>

{% endblock %}

{% block content %}
<div class="row-fluid">

    <div id="content-main" class="span12">

        {# main well #}
        <div class="well">
            <form method="post" class="form-horizontal">
                {% csrf_token %}
                <p><textarea name="resources_to_process" rows="5" class="input-block-level input-xlarge"></textarea></p>
                <p><input class="btn btn-info" type="submit" value="{% trans 'Request these resources' %}" /></p>
            </form>

        </div>
        
    </div>
    
</div>


    
{% endblock %}