{% extends "admin/change_list.html" %}
{% load i18n %}
{% block title %}Content Manager - {% trans "Downloader" %}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs"><a href="{% url admin:index %}">{% trans "Back"%}...</a></div>
{% endblock %}

{% block content %}
    <link href="{{STATIC_URL}}frontend/bootstrap/css/bootstrap.css" rel="stylesheet">
	<h2>{% trans "Put Items on Queue" %}</h2>
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        <textarea name="resources_to_process"></textarea>
        <p><input class="btn" type="submit" value="{% trans 'Add Custom Content' %}" /></p>
    </form>
    
{% endblock %}