{% extends 'base.html' %}
{% load i18n %}
{% load highlight %}

{% block content %}

<h2>{% blocktrans with in_page_total_count=page.object_list|length total_count=paginator.count %}
    Showing {{in_page_total_count}} results out of {{total_count}} found items.{% endblocktrans %}</h2>
    <h2>{% trans "Search" %}</h2>

    <form method="get" action="." class="form-horizontal">
            {{ form.as_table }}
            <input type="submit" value="Search" class="btn">
    </form>
    {% if query %}
        <h3>{% trans "Results" %}</h3>
            {% for result in page.object_list %}
            <hr />
            <div class="row-fluid">
                {% if result.content_type == "resources.resource" %}
                <div class="span2">
                    <div class="resource_list_thumb" id="thumbnail-{{result.object.id}}">            
                        <div class="resource_list_thumb" id="thumbnail-{{result.object.id}}">
	
                            {% for thumb in result.object.thumbnails_path %}
                            {% if forloop.first %}
                            <a href="{{ result.object.get_absolute_url }}?q={{query}}">
                                <img src="{{thumb}}" class="imagedropshadow" />
                            </a>
                            {% if "video" in result.object.category_code_set%}
                            <div class="">
                                <span class="label">{{result.object.humanized_duration}}</span>
                            </div>
                            {% endif %}
                            {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="span10">
                  	<div id="information-{{result.object.id}}" class="information">
                  		<p class="title">{% trans "Resource" %}: <a href="{{result.object.get_absolute_url}}?q={{query}}" >{{result.object.title}}</a></p>
                        {% if result.object.description %}
                  		<p class="description"><span class="label label-info">{% trans "Description" %}</span> <span
                  			 class="text">
                             {% highlight_truncate result.object.description with query as desc %}
                            {% if query %}
                            {{desc}}
                  			{% else %}
                  				{{result.object.description}}
                  			{% endif %}
                  			</span></p>
                            {% endif %}
                            {% if result.object.category.all %}
                  		<p class="categories"><span class="label label-info">{%trans "Categories" %}</span> {{result.object.category.all|join:","}}</p>

                        {% endif %}
                  	</div>
                </div>
                {% endif %}
                
                {% if result.content_type == "curricular.activity" %}
                <div class="span2">
                    <a href="{{ result.object.get_absolute_url }}?q={{query}}"><img src="/media/img/icons/folder.png" class="button" alt=""></a>
                </div>
                
                <div class="span10">
                    <h2>{% trans "Activity" %}</h2>
                    <h3>{{result.object}}</h3>
                    <p>{% trans "Items" %}</p>
                    <ul>{% for item in result.object.activityitem_set.all %}
                        <li><a href="{{ result.object.get_absolute_url }}?q={{query}}">{{item}}</a></li>
                        {% endfor%}
                    </ul>
                    
                </div>
                
                {% endif %}

            </div>

                
            {% empty %}
                <p>{% trans "No results found." %}</p>
            {% endfor %}

            {% include "paginator.html" with page_obj=page paginator=page.paginator %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
        {% endif %}

{% endblock %}